.title-upvotes{
  color: #999999;
  font-size: 24px;
}
.tile-description {
  color: #999999;
  font-size: 20px;
  height: 32px;
  padding-bottom: 5px;
}
.title-comments
{
  color: #999999;
  font-size: 24px;
}
.tile-heading{
  color: #222222;
  font-size: 24px;
  height: 32px;
  padding-bottom: 5px;
}
.label
{
  width: 75px;
  height: 25px;
  font-size: 16px;
  color: #FFFFFF;
  padding: 3px 5px 3px 5px;
}
